@tailwind components;

@layer components {
  .card-project {
    @apply rounded-lg shadow-lg transition-all ease-in-out duration-700 cursor-pointer flex flex-col justify-center p-10 text-center hover:bg-gradient-to-r hover:from-primaryGreen hover:to-secondaryBlue max-lg:bg-black max-lg:bg-opacity-25;
  }

  .card-project > * {
    opacity: 1;
    transform: translateY(0%);
  }

  @media screen and (min-width: 1024px) {
    .card-project > * {
      opacity: 0;
      transform: translateY(50%);
    }

    .card-project:hover > * {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
