---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero';
import Navbar from '../components/Navbar';
---

<Layout title='Andrés López'>
  <Navbar client:load />
  <main class=''>
    <Hero client:load />
    <!-- <AboutSec /> -->
    <!-- <SkillsetSec /> -->
    <!-- <WorkXSec />
    <Portfolio />
    <ContactMeSec /> -->
  </main>
  <!-- <Footer /> -->
</Layout>../components/Hero.tsx
