---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import Portfolio from '../components/Portfolio.astro';
import AboutSec from '../components/AboutSec.astro';
import SkillsetSec from '../components/SkillsetSec.astro';
import WorkXSec from '../components/WorkXSec.astro';
import NavBar from '../components/NavBar.astro';
import ContactMeSec from '../components/ContactMeSec.astro';
import Footer from '../components/Footer.astro';
---

<Layout title=''>
  <NavBar />
  <main>
    <Hero />
    <AboutSec />
    <SkillsetSec />
    <WorkXSec />
    <Portfolio />
    <ContactMeSec />
  </main>
  <Footer />
</Layout>

<script>
  const sections = document.querySelectorAll('.lazy-element');

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle('slide-bottom-top', entry.isIntersecting);
        if (entry.isIntersecting) {
          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.3 }
  );

  sections.forEach((section) => {
    observer.observe(section);
  });
</script>
