---
const { CodingImg } = Astro.props;
---

<!-- description section -->
<div
  class='w-full h-[100rem] relative flex justify-start items-center max-lg:justify-center max-lg:items-center max-lg:h-auto'
>
  <div
    class='lazy-element absolute top-[25rem] rounded-lg left-96 flex flex-col justify-center items-start w-[40rem] p-20 bg-white shadow-md z-20 max-2xl:left-52 max-2xl:translate-x-0 max-lg:bg-transparent max-lg:w-full max-lg:shadow-none max-lg:static max-lg:p-6 max-md:w-5/6'
  >
    <h2 class='section-header mb-16 max-lg:self-center'>Description</h2>

    <slot class='max-lg:text-sm' />
  </div>
  <div class='w-3/5 h-full bg-gray-200 max-lg:hidden'></div>
  <img
    src={CodingImg}
    class='absolute object-cover top-60 right-44 w-[50rem] h-[70rem] shadow-2xl max-2xl:right-28 max-xl:w-[33rem] max-xl:right-0 max-lg:w-full max-lg:inset-0 max-lg:hidden'
  />
</div>
