---
const { CodingImg } = Astro.props;
---

<!-- description section -->
<div class='w-full h-[100rem] relative flex justify-start items-center'>
  <!-- gray container -->
  <div
    class='w-3/4 h-full bg-gray-200 relative flex justify-center items-center'
  >
    <!-- ttitle & paragraph container -->
    <div class='w-[60rem] h-[40rem] z-10 flex flex-col justify-start'>
      <h2 class='text-6xl font-bold'>Description</h2>
      <!-- paragraph container -->
      <div class='w-full h-auto bg-white mt-32 p-10 shadow-lg'>
        <p class='text-lg leading-7'>
          <slot />
        </p>
      </div>
    </div>
  </div>

  <img
    src={CodingImg}
    class='absolute top-60 right-44 w-[50rem] h-[70rem] shadow-2xl'
  />
</div>
