---
const { goals } = Astro.props;
---

<!-- goals section -->
<div
  class='w-full h-full pt-20 pb-20 bg-gray-100 relative flex flex-col justify-center items-center space-y-24 max-lg:space-y-52'
>
  <div class='lazy-element w-[28rem] h-52 text-center space-y-10 max-lg:w-3/4'>
    <h2 class='text-5xl font-bold'>Goals Reached</h2>
    <p class=''>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi tempore
      deserunt dolorum pariatur, unde cumque, eum iusto animi perferendis quo
      repellat aliquam eveniet, tenetur laudantium deleniti suscipit corporis
      eaque? Magni?
    </p>
  </div>

  <!-- cards container -->
  <div
    class='w-3/4 h-full flex flex-wrap justify-center p-16 space-x-10 max-xl:space-x-0 max-md:p-0 max-md:w-5/6'
  >
    <!-- card -->
    {
      goals.map((el: { icon: string; title: string; goal: string }) => (
        <div class='lazy-element goal-project-card'>
          <img src={el.icon} class='w-24 h-24' />
          <h3 class='font-bold text-2xl'>{el.title}</h3>
          <p class='text-sm text-center'>{el.goal}</p>
        </div>
      ))
    }
  </div>
</div>
