---
import Button from './Button';
import Portrait2 from '../../public/images/portrait2.png';
---

<div id='about-me' class='center-section h-screen relative mt-96'>
  <div class='w-3/4 flex justify-center space-x-52'>
    <div class='flex flex-col w-96 justify-center'>
      <h3 class='section-header mb-10'>A bit about me</h3>
      <p class='mb-16'>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse ullam
        unde molestiae nulla consequuntur quo sint cum est vero debitis
      </p>
      <div class='flex space-x-3'>
        <Button />
        <a href='/files/cv.pdf' target='_blank' class='button-white'
          >Get My Resume</a
        >
      </div>
    </div>
    <img src={Portrait2} alt='' class='rounded-full scale-75' />
  </div>
</div>
