---
---

<div
  id='contact-me'
  class='w-full h-[35rem] contact-image flex justify-center items-center'
>
  <div
    class='lazy-element w-[35rem] h-56 bg-white rounded-[3rem] shadow-lg flex flex-col justify-center items-center p-10 text-center space-y-8 max-sm:w-3/4'
  >
    <h3 class='text-2xl font-bold max-sm:text-base'>
      👋 Let's Work Toghether!
    </h3>
    <a href='#' class='button-email'>email</a>
  </div>
</div>
