---
---

<div
  id='contact-me'
  class='w-full h-[35rem] contact-image flex justify-center items-center'
>
  <div
    class='w-[35rem] h-56 bg-white rounded-[3rem] shadow-lg flex flex-col justify-center items-center p-10 text-center space-y-8'
  >
    <h3 class='text-2xl font-bold'>👋 Let's Work Toghether!</h3>
    <a
      href='#'
      class='w-44 h-10 rounded-full p-2 bg-blue-400 font-semibold shadow-md transition-all hover:shadow-lg hover:scale-105 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-blue-500 hover:text-white'
      >email</a
    >
  </div>
</div>
