---
import Form from './Form';
---

<div
  id='contact'
  class='max-container flex flex-col lg:flex-row gap-32 items-center justify-evenly pt-52'
>
  <Form client:only='react' />
  <div class='lg:w-[30rem]'>
    <img src='../../public/images/cube.png' alt='' class='object-cover' />
  </div>
</div>
