---
---

<div
  id='contact'
  class='max-container flex flex-col lg:flex-row gap-32 items-center justify-evenly pt-52'
>
  <form
    class='w-full xl:w-1/2 backdrop-opacity-10 bg-slate-800/30 shadow-indigo-600 shadow-lg flex flex-col p-4 md:p-6 gap-5 rounded-2xl'
  >
    <h2 class='text-2xl font-semibold'>Let's work together</h2>
    <input
      id='subject'
      type='text'
      name='subject'
      placeholder='Subject'
      class='text-xs w-full p-2 bg-slate-700/50 border-2 border-slate-700/50 rounded-md outline-indigo-900'
      required
    />
    <textarea
      id='message'
      name='message'
      placeholder='Message'
      class='text-xs w-full p-2 bg-slate-700/50 border-2 border-slate-700/50 rounded-md outline-indigo-900 resize-none'
      rows='6'
      required></textarea>
    <button
      id='send-email'
      class='text-xs w-full p-2 bg-indigo-700/50 border-2 border-indigo-700/50 rounded-md'
    >
      Open Email
    </button>
  </form>
  <div class='lg:w-[30rem]'>
    <img src='../../public/images/cube.png' alt='' class='object-cover' />
  </div>
</div>

<script>
  const sendEmailButton = document.getElementById(
    'send-email'
  ) as HTMLButtonElement;
  sendEmailButton.addEventListener('click', (e) => {
    e.preventDefault();
    const message = document.getElementById('message') as HTMLTextAreaElement;
    const subject = document.getElementById('subject') as HTMLInputElement;
    if (message.value && subject.value) {
      window.location.href = `mailto:lopez.andresrigoberto@gmail.com?subject=${subject.value}&body=${message.value}`;
      message.value = '';
      subject.value = '';
    }
  });
</script>
