---
---

<footer class='pt-32 pb-5'>
  <div class='max-container flex flex-wrap item-center justify-center gap-16'>
    <a href='mailto:lopez.andresrigoberto@gmail.com'>
      <i class='fa-solid fa-envelope text-xl md:text-2xl text-slate-200'></i>
    </a>
    <a href='https://github.com/andres-ldr' target='_blank'>
      <i class='fa-brands fa-github text-xl md:text-2xl text-slate-200'></i>
    </a>
    <a
      href='https://www.linkedin.com/in/andr%C3%A9s-l%C3%B3pez-2b53b020b/'
      target='_blank'
    >
      <i class='fa-brands fa-linkedin text-xl md:text-2xl text-slate-200'></i>
    </a>
  </div>
</footer>
