---
import fbicon from '../../public/images/facebook3D.png';
---

<footer class='w-full pt-10 pb-10 bg-gray-950 flex justify-center items-center'>
  <div class='w-3/4 flex justify-evenly items-center'>
    <span class='text-white w-1/3'
      >&#169; All rights reserved 2023 Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Similique saepe placeat</span
    >
    <div class='flex flex-col space-y-3'>
      <h5 class='text-lg font-bold text-white uppercase'>Follow me</h5>
      <div class='flex space-x-5'>
        <img
          src={fbicon}
          alt=''
          class='w-14 h-14 transition hover:-translate-y-1'
        />
        <img
          src={fbicon}
          alt=''
          class='w-14 h-14 transition hover:-translate-y-1'
        />
        <img
          src={fbicon}
          alt=''
          class='w-14 h-14 transition hover:-translate-y-1'
        />
      </div>
    </div>
  </div>
</footer>
