---
import portraitIMG from '../../public/images/portrait.png';
---

<div class='center-section h-screen'>
  <div class='w-3/4 h-screen relative'>
    <div class='absolute left-52 top-64 w-4'>
      <h1 class='text-7xl font-bold'>Andrés López</h1>
    </div>
    <img
      src={portraitIMG}
      class='absolute bottom-0 left-1/2 -translate-x-1/2 scale-150 z-10'
    />
    <div class='absolute text-slate-600 right-56 top-96 w-64'>
      <h2 class='text-5xl font-semibold'>
        Full Stack Developer & Data scientist
      </h2>
    </div>
    <div
      class='bg-slate-500 h-80 w-80 absolute bottom-0 left-1/2 -translate-x-1/2'
    >
    </div>
  </div>
</div>
