---
import portraitIMG from '../../public/images/portrait.png';
---

<div class='center-section h-screen'>
  <div
    class='w-[50rem] h-3/4 relative max-lg:w-[40rem] max-md:w-[35rem] max-sm:w-3/4'
  >
    <div class='absolute left-0 top-32 w-52 z-20 max-lg:top-0'>
      <h1 class='text-7xl font-bold max-sm:text-5xl'>Andrés López</h1>
    </div>

    <img
      src={portraitIMG}
      class='h-full absolute bottom-0 left-1/2 object-cover -translate-x-1/2 z-10'
    />
    <div class='absolute right-0 bottom-28 w-64 z-20'>
      <h2 class='text-5xl text-slate-200 font-semibold max-sm:text-4xl'>
        Full Stack Developer & Data scientist
      </h2>
    </div>
  </div>
</div>
