---
---

<style>
  .hide {
    transition: all 0.25s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
  }
  .show {
    transition: all 0.25s ease-in-out;
    transform: translateY(0%);
    opacity: 1;
  }
</style>

<script>
  const navbar = document.getElementById('nav-bar') as HTMLDivElement;
  let movement = 0;
  window.addEventListener('scroll', () => {
    if (movement < window.scrollY) {
      navbar.classList.add('hide');
      navbar.classList.remove('show');
    } else {
      navbar.classList.add('show');
      navbar.classList.remove('hide');
    }
    movement = window.scrollY;
  });
</script>

<div
  id='nav-bar'
  class='fixed bg-slate-100 top-0 w-full flex justify-center z-20'
>
  <div class='w-3/4 flex justify-between bg-transparent p-6 z-20'>
    <h1 class='text-3xl'>Logo</h1>
    <div class='flex space-x-14 leading-none'>
      <a href='#about-me' class='navbar-link'> About</a>
      <a href='#skills' class='navbar-link'> Skillset</a>
      <a href='#work-experience' class='navbar-link'> Experience</a>
      <a href='#portfolio' class='navbar-link'> Portfolio</a>
      <a
        href='#contact-me'
        class='rounded-2xl shadow-md pt-4 pb-4 pl-9 pr-9 cursor-pointer font-bold transition-all hover:shadow-lg hover:bg-slate-900 hover:text-white'
        >Contact me</a
      >
    </div>
  </div>
</div>
