---
---

<script>
  const navbar = document.getElementById('nav-bar') as HTMLDivElement;
  const links = document.getElementsByClassName('navbar-link');
  let movement = 0;
  window.addEventListener('scroll', () => {
    if (movement < window.scrollY) {
      navbar.classList.add('hide');
    } else {
      navbar.classList.remove('hide');
    }
    movement = window.scrollY;
  });

  for (let i = 0; i < links.length; i++) {
    const element = links[i];
    element.addEventListener('click', () => {
      setTimeout(() => {
        navbar.classList.add('hide');
      }, 1000);
    });
  }
</script>

<div id='nav-bar' class='navbar'>
  <div>
    <h1 class='text-3xl'>Logo</h1>
    <div class='flex space-x-14 leading-none'>
      <a href='#about-me' class='navbar-link'> About</a>
      <a href='#skills' class='navbar-link'> Skillset</a>
      <a href='#work-experience' class='navbar-link'> Experience</a>
      <a href='#portfolio' class='navbar-link'> Portfolio</a>
      <a href='#contact-me' class='button-white-navbar'>Contact me</a>
    </div>
  </div>
</div>
