---
import Project from '../models/Project';
import PortfolioPanel from './PortfolioPanel';
import { getCollection, CollectionEntry } from 'astro:content';

const projects: CollectionEntry<'portfolio'>[] = await getCollection(
  'portfolio'
);

let list: Project[] = [];
projects.map((el) => {
  const obj: Project = { id: el.slug, ...el.data };
  list.push(obj);
});
---

<div id='portfolio' class='center-section mt-52 pt-52 pb-52 bg-gray-400'>
  <div class='w-3/4 flex flex-col justify-center items-center'>
    <!-- title -->
    <div class='w-80 space-y-10'>
      <h3 class='text-center section-header'>Portfolio</h3>
      <p class='text-center text-lg'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi labore
        inventore, ipsa nemo dolore nam sapiente sit omnis accusamus
      </p>
    </div>

    <PortfolioPanel client:load projects={list} />
  </div>
</div>
