---
import { CollectionEntry, getCollection } from 'astro:content';
import Project from '../models/Project';
import PortfolioPanel from './PortfolioPanel';

const projects: CollectionEntry<'portfolio'>[] = await getCollection(
  'portfolio'
);

let list: Project[] = [];
projects.map((el) => {
  const obj: Project = { id: el.slug, ...el.data };
  list.push(obj);
});
---

<div id='portfolio' class='max-container flex flex-col gap-10 pt-32'>
  <!-- title -->
  <div class='w-1/2 self-center'>
    <h3 class='text-2xl md:text-5xl font-bold text-center'>Portfolio</h3>
    <p class='text-center text-sm md:text-base leading-6 pt-10'>
      Welcome to the Portfolio section. Here, you'll discover a diverse range of
      projects built with creativity to address unique
      challenges.
    </p>
  </div>

  <PortfolioPanel projects={list} client:only />
</div>
