---
import { CollectionEntry, getCollection } from 'astro:content';
import TimeLine from './TimeLine';
import Job from '../models/Job';

const projects: CollectionEntry<'jobs'>[] = await getCollection('jobs');

let list: Job[] = [];
projects.map((el) => {
  const obj: Job = { id: el.slug, ...el.data };
  list.push(obj);
});
---

<div id='work-experience' class='center-section mt-72'>
  <div
    class='flex flex-col w-3/4 justify-center items-center text-center max-lg:w-5/6'
  >
    <!-- title -->
    <div class='lazy-element w-96 max-lg:w-5/6'>
      <h3 class='section-header'>Work experience</h3>
      <p class='mt-8'>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita ipsam
        tenetur laboriosam dolor veniam cupiditate quas.
      </p>
    </div>
    <TimeLine jobs={list} client:load />
  </div>
</div>
