---
import { CollectionEntry, getCollection } from 'astro:content';
import Job from '../models/Job';
import VerticalTimeLine from './VerticalTimeLine';

const projects: CollectionEntry<'jobs'>[] = await getCollection('jobs');

let list: Job[] = [];
projects.map((el) => {
  const obj: Job = { id: el.slug, ...el.data };
  list.push(obj);
});
---

<div id='work-experience' class='max-container pt-40'>
  <h2 class='text-3xl md:text-5xl font-bold'>Work Experience</h2>
  <div class='pt-32'>
    <VerticalTimeLine />
  </div>
</div>
